/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 3.6;
}

header {
    background-color: #60b1e3;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 15px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.faq-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.faq-section h2 {
    font-size: 24px;
    margin-top: 30px;
}

.faq-section ul {
    list-style-type: none;
    padding: 0;
}

.faq-section li {
    margin-bottom: 20px;
}

.faq-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.faq-section p {
    font-size: 16px;
    line-height: 1.5;
}
