#financialSummary {
    position: absolute;
    left:20px;
    width:300px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #009ffc; 
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.transaction-design{
    position: absolute;
    top:10%;
    right:60px;
    width: 500px;

}

.tcard {
    position: absolute;
    width: 500px;
    left: 500px;
    line-height: 40px;
    color: #009ffc;
}

.summary-card {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #3d251e; 
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 0px 4px 6px rgba(145, 229, 163, 0.2);
    color: white;
}

.income-row {
    background-color: #eaffea; 
}

.expense-loan-row {
    background-color: #ffecec;
}

#graphsPage h2{
    text-align: center;
}

#totalIncome {
    width: 10px;
}
.summary-card h3 {
    color: #aaa; 
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.graph-container {
    position: absolute;
    left: 50px;
}

.graph-container2 {
    position: relative;
    top: 30px;
}
.graph-container3 {
    position: absolute;
    right: 50px;
    top: 150px;
}
.summary-card span {
    font-size: 1.5rem; 
    font-weight: bold;
}

.total-income {
    color: #00ff26; 
}

.total-expenses {
    color: #ff0000; 
}

.current-balance {
    color: #009ffc; 
}
